<div class="dashboard-container">
    <!-- Top Navbar -->
    
    <div class="navbar">
      <!-- Logo Section -->
      <div class="logo">
        <img src="assets/education.png" alt="Bookstore Logo" />
        <span>Bookstore</span>
      </div>
  
      <!-- Search Bar Section -->
      <div class="search-bar">
        <div class="search-container">
          <mat-icon>search</mat-icon>
          <input type="text" placeholder="Search ..." [(ngModel)]="searchTerm" />
        </div>
      </div>
  
      <!-- Right-side Icons -->
      <div class="nav-actions">
        <div class="nav-item">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </div>

        <!-- Cart nav-item -->
        <div class="nav-item" (click)="goToCart()">
          <mat-icon>shopping_cart</mat-icon>
          <span>Cart</span>
        </div>
        

      </div>
    </div>
  
    <!-- Main Content Placeholder -->
    <div class="main-content">
      <router-outlet></router-outlet>  <!-- This is the key change -->

      <!-- <app-books [searchTerm]= "searchTerm"></app-books> -->
      <!-- <app-book-details></app-book-details> -->
      
    </div>
  
    
    <!-- Footer -->
    <footer class="footer">
      <p>Copyright © 2020, Bookstore Private Limited. All Rights Reserved</p>
    </footer>

   

  </div>
  