  <div class="orders-wrapper">
     <!-- home / cart -->
     <div class="breadcrumb">
      <span class="breadcrumb-link" (click)="goToDashboard()">Home</span> / <span class="current-page">My orders</span>
     </div>

    <div *ngIf="orders.length === 0" class="no-orders">
        <img src="assets/images/NoOrder.png" alt="No Orders" class="empty-orders-image" />
        <p>You haven't placed any orders yet.</p>
        <button class="shop-now-button" (click)="goToDashboard()">Shop Now</button>
    </div>
  
    <div *ngFor="let order of orders" class="order-card">
      <div class="order-left">
        <img [src]="order.bookImage" alt="Book Image" class="book-image" />
      </div>
      <div class="order-center">
        <h3 class="book-title">{{ order.bookName }}</h3>
        <p class="book-author">by {{ order.author }}</p>
        <p class="book-price">
          <span class="price">Rs. {{ order.discountPrice }}</span>
          <span class="mrp" *ngIf="order.originalPrice && order.originalPrice !== order.discountPrice">
            Rs. {{ order.originalPrice }}
          </span>
        </p>
        
      </div>
      <div class="order-right">
        <span class="order-date">
          <span class="dot"></span> Order Placed on {{ order.orderDate | date: 'MMMM dd' }}
        </span>
      </div>
    </div>
  </div>
  
  
  